/**
 * MyBB Installer CSS
 * (c) 2014 MyBB Group
 */

body {
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif !important;
	font-size: 12px;
	background-image: url("headImage.jpg");
	color: #333;
	margin: 0;
	text-decoration: none;
}

a {
	color: #035488;
	text-decoration: inherit;
}

a:hover {
	color: #444;
	text-decoration: underline;
}

#container {
 margin: auto auto;
 width: 880px;
 text-decoration: inherit;
}

/* Logo */
#logo h1 {
	background: #fff url('images/logo.png') no-repeat 0 5px;
	height: 82px;
	margin: 0 0 2px 0;
	padding: 3px;
}

/* Header */
#header {
	clear: both;
	background: #efefef;
	border: none;
	padding: 12px;
	font-size: 20px;
	color: #444;
	margin-bottom: 20px;
}

/* Inner Container */
#inner_container {
	background: #fff;
}

/* Progress Side bar */
#progress {
	width: 230px;
	float: left;
	margin: 0;
	padding: 10px 0 0 5px;
	padding-right: 0px;
	font-size: 11px;
	border-right: 1px solid #e7e7e7;
}
#progress ul {
	list-style: none;
	padding: 0 0 0 10px;
	margin: 0;
}

#progress li {
	color: #888;
	font-weight: normal;
	margin: 4px 0 12px;
	padding: 2px 0 1px 24px;
	background-image: url("images/inactive.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

#progress li.active {
	background-image: url("images/active.png");
	color: #333;
	padding-top: 0;
	font-size: 14px;
	font-weight: bold;
}

#progress li.intro {
	background-position: 0 -20px;
}

#progress li.license {
	background-position: 0 -40px;
}

#progress li.requirements_check {
	background-position: 0 -60px;
}

#progress li.database_info {
	background-position: 0 -80px;
}

#progress li.create_tables {
	background-position: 0 -100px;
}

#progress li.populate_tables {
	background-position: 0 -120px;
}

#progress li.templates {
	background-position: 0 -140px;
}

#progress li.configuration {
	background-position: 0 -160px;
}

#progress li.adminuser {
	background-position: 0 -180px;
}

#progress li.final {
	background-position: 0 -200px;
}

/* Content Area */
#content {
	margin-left: 235px;
	width: 580px;
	padding: 10px 20px 0 30px;
	border-left: 1px solid #e7e7e7;
}

* html #content {
	width: 580px;
}

/* Heading Styles */
h2 {
	margin: 0;
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}

h3 {
	font-size: 14px;
	margin: 5px 0;
}

h4 {
	font-size: 12px;
	margin: 5px 0;
}

/* License Agreement */
.license_agreement {
	margin: 10px auto;
	padding: 10px;
	overflow: scroll;
	height: 400px;
	width: 560px;
	border: 2px double #ccc;
}

.license_agreement ul {
	padding: 0;
	margin: 5px;
}

/* Next Button */
#next_button, .next_button {
	text-align: right;
	width: auto;
}

/* Footer */
#footer {
	clear: both;
	background: #f5f5f5;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px;
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
	color: #666;
	margin-bottom: 20px;
}

/* Tables */
.border_wrapper {
	margin: 0;
	padding: 1px;
	margin-top: 14px;
	border-top: 0;
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.border_wrapper div.title {
	background: #0066a2 url(images/thead.png) top left repeat-x;
	color: #fff;
	border-bottom: 1px solid #263c30;
	padding: 8px;
	font-weight: bold;
	text-align: left;
	font-size: 120%;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.border_wrapper div.title a {
	color: #fff;
	text-decoration: none;
}

table.general {
	background: #ccc;
	width: 100%;
}

table.general td {
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #fafafa;
}

table.general tr td:last-child {
	border-right: 0;
}

table.general tr td:first-child {
	border-left: 0;
}

table.general tr:last-child td {
	border-bottom: 0;
}

table.bottom_cell_border td {
	border-right: 0;
	border-left: 0;
}

table.general tr.last td {
	border-bottom: 0;
}

table.bottom_cell_border td {
	border-right: 0;
	border-left: 0;
}

table.general td {
	background: #f5f5f5;
	padding: 6px;
	vertical-align: top;
}

table.general th {
	background: #0f0f0f url(images/tcat.png) repeat-x;
	color: #fff;
	border-top: 1px solid #444;
	border-bottom: 1px solid #000;
	padding: 8px;
	font-size: 96%;
	font-weight: bold;
	text-align: left;
}

table.general th a, table.general th {
	color: #fff;
	text-decoration: none;
}

table .alt_row td {
	background: #f1f1f1;
}

/* Forms */
input.text_input {
	border: 1px solid #aaa;
	width: 300px;
	padding: 4px;
	font-size: 13px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: 0;
}

select {
	border: 1px solid #aaa;
	padding: 4px;
	font-size: 12px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: 0;
}

input.text_input:focus, select:focus {
	border: 1px solid #777;
}

input.submit_button {
	border: 1px solid #999;
	padding: 4px 7px;
	background: #e3e3e3 url(images/submit_bg.png) repeat-x top;
	color: #444;
	font-weight: bold;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	margin-right: 3px;
	font-size: 1.1em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 4px;
	margin-right: 3px;
}

input.submit_button:hover {
	border: 1px solid #666;
	cursor: pointer;
}

label {
	font-weight: bold;
}

.field_description, small {
	color: #444;
	font-size: 11px;
}

/* Misc */
.invisible {
	display: none;
}

.pass {
	color: green;
}

.fail {
	color: red;
}

.error {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	margin: 10px auto;
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.error p {
	margin-bottom: 0;
}

.success {
	background: #D6ECA6;
	border: 1px solid #8DC93E;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.upgrade_note {
	background: #efefef;
}